<div class="row">
<section>
<div class="col-md-7 offset-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="../assets/mtnLogo.png" alt="MTN Logo" class="img-thumbnail" style="width: 75px;margin-top: 15px;box-shadow: 1px 1px 1px rgba(0,0,0,0.1);z-index: 9;position: relative;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Store <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <div class="nav-link">&nbsp;</div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Product &amp; Services</a>
          </li>
          <li class="nav-item">
            <div class="nav-link">&nbsp;</div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help &amp; Support</a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-light bg-light" style="position: absolute;top: 0em;right: -9em;width: 201px;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp; <span style="color: yellow;font-size: 8px;vertical-align: middle;" class="fa fa-circle"></span> &nbsp;Personal <span class="fas fa-angle-down"></span></a>
        </li>
        </ul>
    </nav>
</div>
</section>
<div class="col-md-7 offset-3" id="center" style="padding-top: 5em;padding-bottom: 5em;">
<p class="text-center">What are you<br/><span style="font-weight: 900;">here to do?</span></p>
<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" 
              [animation]="'slide'" [interval]="0">
  <mdb-carousel-item *ngFor="let item of slides; let i = index">
    <div class="col-md-4 pb-2" *ngFor="let card of item; let cardIndex = index">
      <mdb-card class="my-1 h-100" mdbDraggable="true" [lockAxis]="'x'">
        <mdb-card-img src="../assets/env.png" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
          <p class="text-center">{{card.title}}<br/>{{card.description}}</p>
          </mdb-card-title>
          <!--<div class="clearfix">&nbsp;</div>
          <div class="clearfix">&nbsp;</div>
          <p class="text-center">{{card.description}}</p>-->
        </mdb-card-body>
      </mdb-card>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
</div>
</div>